<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #map {
                height: 100%;
                z-index: 0;
            }
        </style>
        <!--<script type="text/javascript" src="resources/json/coordinates.json"></script>-->
        <script type="text/javascript" src="resources/json/coordinates.js"></script>
        <!--<script type="text/javascript" src="resources/json/hospitals.json"></script>-->
        <script src="resources/js/jquery-3.0.0.min.js"></script>
        <script src="resources/js/vue.js"></script>
        <script src="resources/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="resources/css/main.css">
        <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">
    </head>

    <body>

        <nav class="navbar navbar-inverse" id="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">iAmbulansiya</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="map.html">Home</a></li>
                        <li><a href="hospital.html">Hospital</a></li>
                        <li><a href="history.html">History</a></li>
                        <li><a href="abouts.html">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <div id="warnings-panel"></div>
                    </ul>
                </div>
                <button id="button_modal" type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#myModal"></button>
                <div class="progress" id="progressDirection">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        please wait...
                    </div>
                </div>

            </div>
        </nav>



        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" id="modal-body">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Hospital Route Directions</h4>
                    </div>
                    <div class="modal-body" >
                        <!--<div class="container">-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-6">Hospital</div>
                                    <div class="col-sm-2">Response Time</div>
                                    <div class="col-sm-2">Distance</div>
                                    <div class="col-sm-1">Traffic Condition</div>
                                </div>
                            </div>
                            <div class="panel-body" v-if='items!=null'>
                                <div class="row" v-for='hospital,index in items'>
                                    <div class="col-sm-6">{{(index+1)+". "+hospital.hospital_detail.name}}</div>
                                    <div class="col-sm-2">{{hospital.response_time+" min"}}</div>
                                    <div class="col-sm-2">{{hospital.distance+" km"}}</div>
                                    <div class="col-sm-1">{{hospital.condition}}</div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default" v-if='winner!=null'>
                            <div class="panel-heading">The Best Route:</div>
                            <div class="panel-body">
                                <div class="col-sm-7">{{winner.hospital_detail.name}}</div>
                                <div class="col-sm-3">{{winner.response_time+" min"}}</div>
                                <div class="col-sm-2">{{winner.distance+" km"}}</div>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" v-on:click="proceed()" >Proceed</button>
                        <button type="button" id='button-modal-close' class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="map"></div>
        <!-- Modal -->

        <button id="button_reload" onclick="initMap()">back</button>
        <!--<script src="resources/json/road_coordinates.json"></script>-->
        <script src="resources/json/road_coordinates.js"></script>
        <!--<script src="resources/json/hospitals.json"></script>-->
        <script src="resources/json/hospitals.js"></script>
        <!--<script src="resources/json/experiment_paper.json"></script>-->
        <script src="resources/json/experiment_paper.js"></script>
        <script src="resources/js/dijkstra.js"></script>
        <script src="resources/js/xmlparser.js"></script>
        <script>
            function setup() {
                if (localStorage.getItem("hospital_list") == null) {
                    var hospital = hospital_data;
                    localStorage.setItem("hospital_list", JSON.stringify(hospital));
                    console.log("saved hospital_data");
                } else {
                    var hospital = hospital_data;
                    var saved_hospital = JSON.parse(localStorage.getItem("hospital_list"));
                    var blChange = false;
                    for (var i = 0; i < saved_hospital.length; i++) {
                        if (saved_hospital[i].name != hospital[i].name ||
                            saved_hospital[i].location.lat != hospital[i].location.lat ||
                            saved_hospital[i].location.long != hospital[i].location.long ||
                            saved_hospital[i].contact != hospital[i].contact
                           ) {
                            blChange = true;
                            break;
                        }
                    }
                    if (blChange) {
                        localStorage.setItem("hospital_list", JSON.stringify(hospital));
                    }
                }
                if (localStorage.getItem("experiment_paper") == null) {
                    var experiment_paper = experiment_paper_structure;
                    localStorage.setItem("experiment_paper", JSON.stringify(experiment_paper));
                    console.log("saved hospital_data");
                }
                $('#btn_start').show();
            }
            setup();
        </script>
        <script>
            var tree;
            var g;

            var traffic_data;
            initRoute();

            function initTrafficData() {
                var url = "https://traffic.cit.api.here.com/traffic/6.2/flow.xml?app_id=f3VSAA6aVM7Sxpp70kUw&app_code=gNFIMdjE2eWp5d7RaPq0zQ&bbox=14.618014, 121.078055;14.672655, 121.121142";
                //console.log("url: " + url)
                jQuery.ajax({
                    url: url,
                    cache: false,
                    async: true,
                    success: function(data) {
                        //console.log(data);

                        var x2js = new X2JS();
                        var xmlText = new XMLSerializer().serializeToString(data);
                        var jsonObj = x2js.xml_str2json(xmlText);
                        //console.log("xml to json: %o", jsonObj);
                        traffic_data = jsonObj;
                        placeTrafficPoints
                        initMap();
                    }
                });
            }

            var map;
            var min = null;
            var infowindow;
            var directionsService;
            var emergency_marker = [];
            var hospital_list = JSON.parse(localStorage.getItem("hospital_list"));
            var hospital_list_og = JSON.parse(localStorage.getItem("hospital_list"));
            //initRoute();
            function getAveSpeed(i) {
                var road = tree[i];
                var traffic = traffic_data.TRAFFICML_REALTIME.RWS.RW;
                var count = 0;
                for (var i = 0; i < traffic.length; i++) {
                    if (traffic[i]._DE == road.name) {
                        var ave_speed = 0;
                        var traffic_road_data = traffic[i].FIS.FI;
                        for (var j = 0; j < traffic_road_data.length; j++) {
                            ave_speed += Number(traffic_road_data[j].CF._SP);
                            count++;
                        }
                    }
                }
                if (ave_speed > 0) {
                    ave_speed = ave_speed / count;
                    return ave_speed;
                }
            }

            function getAveSpeedDetails(i) {
                var road = tree[i];
                var traffic = traffic_data.TRAFFICML_REALTIME.RWS.RW;
                var count = 0;
                for (var i = 0; i < traffic.length; i++) {
                    if (traffic[i]._DE == road.name) {
                        var ave_speed = 0;
                        var traffic_road_data = traffic[i].FIS.FI;
                        for (var j = 0; j < traffic_road_data.length; j++) {
                            ave_speed += Number(traffic_road_data[j].CF._SP);
                            count++;
                        }
                    }
                }
                if (ave_speed > 0) {
                    ave_speed = ave_speed / count;
                    var condition = 1;
                    if (ave_speed < 20 && ave_speed > 15) {
                        condition = 2;
                    } else if (ave_speed <= 15 && ave_speed > 0) {
                        condition = 3;
                    }
                    var detail = {
                        speed: ave_speed,
                        condition: condition
                    }
                    return detail;
                }
            }

            function getHospital_data() {
                return JSON.parse(localStorage.getItem("hospital_list"));
            }

            function initMap() {
                $('#button_reload').hide();
                $("#progressDirection").hide();
                //getLocation();

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,

                    disableDefaultUI: true,
                    styles: [{
                        featureType: 'all',
                        stylers: [{
                            saturation: -80
                        }]
                    }, {
                        featureType: 'road.arterial',
                        elementType: 'geometry',
                        stylers: [{
                            hue: '#00ffee'
                        },
                                  {
                                      saturation: 50
                                  }
                                 ]
                    }, {
                        featureType: 'poi.business',
                        elementType: 'labels',
                        stylers: [{
                            visibility: 'off'
                        }]
                    }]
                });

                var bounds = new google.maps.LatLngBounds();

                google.maps.event.addListener(map, 'click', function(e) {
                    if (confirm("Do you want to add an Emergency icon here?")) {
                        placeMarker(e.latLng, map);
                    }
                });


                var infoWindow = new google.maps.InfoWindow(),
                    marker, i;
                for (i = 0; i < hospital_list.length; i++) {
                    var position = new google.maps.LatLng(hospital_list[i].location.lat, hospital_list[i].location.long);
                    bounds.extend(position);
                    var icon = '';
                    if(hospital_list[i].available>0){
                        icon= 'resources/images/hospital_32.png';
                    }
                    if(hospital_list[i].available<hospital_list_og[i].available){
                        icon = 'resources/images/on_going.png';
                    }
                    if(hospital_list[i].available<=0){
                        icon = 'resources/images/no_available.png';
                    }
                    console.log("hospital: "+hospital_list[i].name+" : "+hospital_list[i].available+" vs "+"hospital: "+hospital_list_og[i].name+" : "+hospital_list_og[i].available);

                    marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: hospital_list[i].name,
                        icon: icon
                    });

                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            var available = "<p class='danger'>no available emergency ambulance<p>";
                            if (hospital_list[i].available > 0) {
                                available = "<p class='success'>available emergency ambulance: " + hospital_list[i].available + "<p>";
                            }
                            infoWindow.setContent(hospital_list[i].name + "<br>" + available);
                            infoWindow.open(map, marker);
                        }
                    })(marker, i));

                    map.fitBounds(bounds);
                }



                var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
                    this.setZoom(14);
                    google.maps.event.removeListener(boundsListener);
                });


                var lineSymbol = {
                    path: 'M 0,-1 0,1',
                    strokeOpacity: 1,
                    scale: 4
                };

                var line = new google.maps.Polyline({
                    path: coords,
                    strokeOpacity: 0,
                    icons: [{
                        icon: lineSymbol,
                        offset: '0',
                        repeat: '20px'
                    }],
                    map: map
                });

                placeTrafficPoints();
                initEmergencyMarkers();
                //marikinaBorder.setMap(map);
            }

            function placeTrafficPoints() {
                var infoWindow = new google.maps.InfoWindow(),
                    marker, i;
                for (i = 0; i < tree.length; i++) {
                    var position = new google.maps.LatLng(tree[i].coordinates.lat, tree[i].coordinates.lng);
                    //bounds.extend(position);
                    var condition = 'resources/images/border-dot-point-25-good.png';
                    var speed;
                    try {
                        speed = getAveSpeed(i).toFixed(2);
                        if (speed < 20 && speed > 15) {
                            condition = 'resources/images/border-dot-point-25-caution.png'
                        } else if (speed <= 15 && speed > 0) {
                            condition = 'resources/images/border-dot-point-25-warning.png'
                        }
                    } catch (e) {
                        condition = 'resources/images/border-dot-point-25.png'
                        speed = "20";
                        //console.log(e);
                    }
                    marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: tree[i].node_id + ". " + tree[i].name + " position " + tree[i].coordinates.lat + " , " + tree[i].coordinates.lng + " ave speed: " + speed,
                        icon: condition
                    });


                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            var contentMessage = '<p>' + tree[i].name + " location: " + tree[i].coordinates.lat + "," + tree[i].coordinates.lng + '</p>';
                            infoWindow.setContent(contentMessage);
                            infoWindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }

            function initEmergencyMarkers() {
                console.log("emergency_marker %o", emergency_marker);
                for (var i = 0; i < emergency_marker.length; i++) {
                    console.log("init emergency marker %o", emergency_marker[i]);
                    //var position = new google.maps.LatLng( emergency_marker[i].position);
                    var marker = new google.maps.Marker({
                        position: emergency_marker[i],
                        map: map,
                        icon: 'resources/images/emergency_32.png',
                        title: "emergency at: " + i
                    });
                    var contentMessage = '<p>Emergency!!!</p>' +
                        '<button onclick="removeMarker(' + i + ')">remove</button><button onclick="setDestination(' + i + ')">set destination</button>';
                    try {
                        if (emergency_marker[i].onGoing) {
                            contentMessage = '<p>Emergency!!!</p><button onclick="endResponse(' + i + ')">finished</button>';
                        }
                    } catch (err) {

                    }
                    var infoEmergency = new google.maps.InfoWindow({
                        content: contentMessage

                    });
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infoEmergency.setContent(marker);
                            infoEmergency.open(map, marker);
                        }
                    })(marker, i));
                }
                console.log("emergency_marker %o", emergency_marker);
            }

            function placeMarker(position, map) {
                var emergencymarker = new google.maps.Marker({
                    position: position,
                    map: map,
                    icon: 'resources/images/emergency_32.png',
                });

                var index = emergency_marker.length;
                var contentMessage = '<p>Emergency!!!</p>' +
                    '<button onclick="removeMarker(' + index + ')">remove</button><button onclick="setDestination(' + index + ')">set destination</button>';
                try {
                    if (emergency_marker[i].onGoing) {
                        contentMessage = '<p>Emergency!!!</p><button onclick="endResponse(' + index + ')">finished</button>';
                    }
                } catch (err) {

                }
                var infoEmergency = new google.maps.InfoWindow({
                    content: contentMessage

                });
                infoEmergency.open(map, emergencymarker);

                google.maps.event.addListener(emergencymarker, 'click', function() {
                    infoEmergency.open(map, emergencymarker);
                });
                //console.log("position: " + position);

                emergency_marker.push(position);
                //saveEmergencyMarker();
            }

            function clearMarkers() {
                setMapOnAll(null);
                initMap();
            }

            function removeMarker(position) {
                //alert('remove: ' + position);
                emergency_marker.splice(position, 1);
                //saveEmergencyMarker();                
                initMap();
            }

            function setDestination(position) {
                console.log("emergency marker: %o", emergency_marker[position]);
                getCreateRoute(emergency_marker[position], position);
            }

            function endResponse(position) {
                var index = emergency_marker[position].hospital_pos;
                hospital_list[index].available++;
                //saveHospital_data();
                //console.log(index + "position");
                emergency_marker[position].onGoing = false;
                emergency_marker.splice(position, 1);
                //saveEmergencyMarker();       
                initMap();
            }

            function getCreateRoute(emergency_location, position) {
                var hospital_available = getAvailableHospital();
                console.log("emergency marker: %o", emergency_location);
                var path_detail = getNearestHospital(hospital_available, emergency_location);
                emergency_location['position'] = position;
                $("#button_modal").click();
                showDetail(path_detail,emergency_location);
                /*
            if (confirm("best place " + hospital_available[optimal_hospital.hospital_index].name + " total distance: " + optimal_hospital.distance + ", response time: " + optimal_hospital.response_time.toFixed(3) + "minutes, do you want to proceed?")) {
                //console.log("winner %o", optimal_hospital);
                hospital_available[optimal_hospital.hospital_index].available--;
                var hospital = hospital_available[optimal_hospital.hospital_index];
                var hospital_pos = setHospitalAvailable(hospital, position);
                emergency_marker[position].onGoing = true;
                emergency_marker[position].hospital_pos = hospital_pos;


                var emergency_elem;
                try{
                    emergency_elem= {
                        lat: emergency_location.lat(),
                        lng: emergency_location.lng()
                    }}catch(e){

                        emergency_elem= {
                            lat: emergency_location.lat,
                            lng: emergency_location.lng
                        }
                    }
                var emergency_loc = getNearest(emergency_elem, tree);
                saveResponseTime(optimal_hospital,emergency_loc);
                //saveEmergencyMarker();
                //localStorage.setItem("Hospital", JSON.stringify(hospital_available[optimal_hospital.hospital_index]));


                //localStorage.setItem("Emergency", JSON.stringify(emergency_location));
                window.open('route.html?'+JSON.stringify(hospital_available[optimal_hospital.hospital_index])+"**"+JSON.stringify(emergency_location));
                initMap();
            }*/

            }

            function showDetail(path_detail,emergency_location) {
                var winner_index = path_detail.winner;
                var winner = path_detail.detail[winner_index];
                modal_vue.setList(path_detail, winner,emergency_location);                
            }

            function openRoute(winner,emergency_location){
                hospital_list[winner.position].available--;
                var hospital = winner.hospital_detail;
                var hospital_pos = setHospitalAvailable(winner);

                $('#button-modal-close').click();
                emergency_marker[emergency_location.position].onGoing = true;
                emergency_marker[emergency_location.position].hospital_pos = winner.position;


                var emergency_elem;
                try{
                    emergency_elem= {
                        lat: emergency_location.lat(),
                        lng: emergency_location.lng()
                    }}catch(e){

                        emergency_elem= {
                            lat: emergency_location.lat,
                            lng: emergency_location.lng
                        }
                    }
                var emergency_loc = getNearest(emergency_elem, tree);
                saveResponseTime(winner,emergency_loc);
                //saveEmergencyMarker();
                //localStorage.setItem("Hospital", JSON.stringify(hospital_available[optimal_hospital.hospital_index]));


                //localStorage.setItem("Emergency", JSON.stringify(emergency_location));

                /*$.get('email.php?link='+'route.html?'+JSON.stringify(hospital)+"**"+JSON.stringify(emergency_location));*/

                $.get( "email.php", { link: 'route_email.html?'+JSON.stringify(hospital)+"**"+JSON.stringify(emergency_location)} );

                window.open('route.html?'+JSON.stringify(hospital)+"**"+JSON.stringify(emergency_location));
                initMap();
            }



            function saveResponseTime(hospital, emergency_loc) {

                //var responseTime = hospital.response_time.toFixed(3);
                hospital.response_time = hospital.response_time + " min";
                //hospital['name'] = hospital.hospital_detail.name;
                hospital['emergency_location'] = tree[emergency_loc].coordinates;
                var currentDate = new Date()
                var day = currentDate.getDate()
                var month = currentDate.getMonth() + 1
                var year = currentDate.getFullYear()                
                //document.write(today);
                hospital['date'] = "" + day + "/" + month + "/" + year + "";
                console.log('saveResponseTime: hospital %o',hospital);
                var history_list = JSON.parse(localStorage.getItem("experiment_paper"));
                var today = new Date().getHours();
                if (today > 5 && today <= 10) {
                    history_list[0].timeframe.push(hospital);
                } else if (today > 10 && today <= 16) {
                    history_list[1].timeframe.push(hospital);
                } else if (today > 16 && today <= 22) {
                    history_list[2].timeframe.push(hospital);
                } else {
                    history_list[3].timeframe.push(hospital);
                }
                localStorage.setItem("experiment_paper", JSON.stringify(history_list));
            }

            function setHospitalAvailable(hospital_available) {
                for (var i = 0; i < hospital_list.length; i++) {
                    //console.log(hospital_available.name+" vs "+hospital_list[i].name)
                    if (hospital_available.name == hospital_list[i].name) {
                        hospital_list[i] = hospital_available;
                        //console.log("hospital_pos "+i);
                        //saveHospital_data();
                        return i;
                    }
                }
            }

            function getAvailableHospital() {
                var hospital_available = [];
                for (var i = 0; i < hospital_list.length; i++) {
                    if (hospital_list[i].available > 0) {
                        hospital_available.push(hospital_list[i]);
                    }
                }
                return hospital_available;
            }

            function getNearestHospital(hospital, emergency) {

                var winner;
                var min;
                var emergency_elem;
                try {
                    emergency_elem = {
                        lat: emergency.lat(),
                        lng: emergency.lng()
                    }
                } catch (e) {

                    emergency_elem = {
                        lat: emergency.lat,
                        lng: emergency.lng
                    }
                }
                //console.log("emergency: %o", emergency_elem);
                var emergency_loc = getNearest(emergency_elem, tree);
                //console.log("nearest emergency: %o", tree[emergency_loc]);
                var hospital_detail = [];
                for (var x = 0; x < hospital.length; x++) {

                    var hospital_elem = {
                        lat: hospital[x].location.lat,
                        lng: hospital[x].location.long
                    }
                    var hospital_loc = getNearest(hospital_elem, tree);

                    //console.log("nearest hospital: %o", tree[hospital_loc]);
                    var start = tree[hospital_loc].node_id;
                    var finish = tree[emergency_loc].node_id;

                    var path = g.shortestPath(start + '', finish + '').concat([start + '']).reverse();
                    //console.log("path %o", path);
                    var path_data = [];
                    for (var i = 0; i < path.length; i++) {
                        for (var j = 0; j < tree.length; j++) {
                            if (tree[j].node_id == Number.parseInt(path[i])) {
                                path_data.push(tree[j]);
                            }
                        }
                    }
                    //initial distance from hospital to nearest coordinate
                    var path_distance = getdistance(path_data[0].coordinates.lat, hospital_elem.lat,
                                                    path_data[0].coordinates.lng, hospital_elem.lng);

                    for (var i = 0; i < path_data.length - 1; i++) {
                        path_distance += Number.parseFloat(getdistance(
                            path_data[i].coordinates.lat, path_data[i + 1].coordinates.lat,
                            path_data[i].coordinates.lng, path_data[i + 1].coordinates.lng
                        ));
                    }

                    //added distance from emergency location to nearest coordinate
                    path_distance += getdistance(path_data[path_data.length - 1].coordinates.lat, emergency_elem.lat,
                                                 path_data[path_data.length - 1].coordinates.lng, emergency_elem.lng);

                    //console.log("distance: ", path_distance);
                    var time = getResponseTime(path_data);
                    console.log(time);
                    if (time.time < min || min == null) {

                        min = time.time;
                        winner = x;
                    }
                    //var time = getResponseTime(path_data);

                    path_distance = path_distance.toFixed(2);
                    time.time = time.time.toFixed(2);
                    var condition;

                    if (time.condition == 1) {
                        condition = 'good';
                    } else if (time.condition == 2) {
                        condition = 'moderate';
                    } else {
                        condition = 'bad';
                    }
                    console.log("condition: " + time.condition + " - " + condition);
                    var detail = {
                        position: x,
                        hospital_detail: hospital[x],
                        distance: path_distance,
                        response_time: time.time,
                        condition: condition
                    }
                    hospital_detail.push(detail);
                }

                //console.log("hospital winner %o", hospital[winner]);
                //console.log("hospital distance: " + min);
                //var time = min / .3;

                console.log("hospital data: %o", hospital_detail);

                var return_data = {
                    detail: hospital_detail,
                    winner: winner
                    /*hospital_index: winner,
                distance: min,
                response_time: time*/
                }

                return return_data;

            }

            function getResponseTime(path_data) {
                //var response_time = 0;
                var total_speed = 0;
                //var curr_road_name = path_data[0].name;
                var distance = 0;
                var condition;
                var condition_total = 0;
                for (var i = 0; i < path_data.length - 1; i++) {
                    var speed = getAveSpeedDetails(path_data[i].node_id);
                    //console.log("speed detail %o",speed);
                    if (speed != undefined) {
                        total_speed += Number(speed.speed);
                        condition_total += Number(speed.condition);
                    } else {
                        total_speed += 20;
                        condition_total += 2;
                    }
                    distance += getdistance(path_data[i].coordinates.lat, path_data[i + 1].coordinates.lat,
                                            path_data[i].coordinates.lng, path_data[i + 1].coordinates.lng, );

                }
                //console.log("total_speed: "+total_speed);
                //distance = distance/path_data.length;
                condition = condition_total / path_data.length;
                condition = Math.floor(condition);
                //console.log("condition: "+condition);
                total_speed = (total_speed / path_data.length) / 60; //convert kph to kpm
                //console.log("average_speed: "+total_speed);
                var time = distance / total_speed;
                var detail = {
                    time: time,
                    condition: condition
                }
                return detail;
            }

            function getNearest(unit) {
                var min;
                var winner = null;
                for (var i = 0; i < tree.length; i++) {
                    //var distance = getDistance(unit.lat,tree[i].coordinates.lat,unit.lng,tree[i].coordinates.lng);
                    var distance = getdistance(unit.lat, tree[i].coordinates.lat, unit.lng, tree[i].coordinates.lng);
                    if (distance < min || min == null) {
                        winner = i;
                        min = distance;

                    }
                }
                return winner;
            }

            function getdistance(lat1, lat2, lon1, lon2) {
                var p = 0.017453292519943295; // Math.PI / 180
                var c = Math.cos;
                var a = 0.5 - c((lat2 - lat1) * p) / 2 +
                    c(lat1 * p) * c(lat2 * p) *
                    (1 - c((lon2 - lon1) * p)) / 2;

                return 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km
            }

            function getDistance(x1, x2, y1, y2) {
                return Math.sqrt(Math.pow((x1 - x2), 2) + Math.pow((y1 - y2), 2));
            }

            function initRoute() {
                var road_coord = road;
                tree = [];
                var node_id = 0;
                for (var i = 0; i < road_coord.length; i++) {

                    for (var j = 0; j < road_coord[i].coordinates.length; j++) {
                        var vertex = [];
                        if (j < road_coord[i].coordinates.length - 1) {
                            var distance = getDistance(
                                road_coord[i].coordinates[j].lat, road_coord[i].coordinates[j + 1].lat,
                                road_coord[i].coordinates[j].lng, road_coord[i].coordinates[j + 1].lng,
                            );
                            vertex.push({
                                node: node_id + 1,
                                distance: distance
                            });
                        }
                        if (j > 0) {
                            var distance = getDistance(
                                road_coord[i].coordinates[j].lat, road_coord[i].coordinates[j - 1].lat,
                                road_coord[i].coordinates[j].lng, road_coord[i].coordinates[j - 1].lng,
                            );
                            vertex.push({
                                node: tree[tree.length - 1].node_id,
                                distance: distance
                            });
                        }
                        var node = {
                            node_id: node_id,
                            name: road_coord[i].name,
                            coordinates: road_coord[i].coordinates[j],
                            vertex: vertex
                        }
                        tree.push(node);
                        node_id++;
                    }
                }
                // console.log("road structure %o",tree);


                var tree_temp = tree;
                var added = [];
                for (var i = 0; i < tree.length; i++) {
                    for (var j = 0; j < tree_temp.length; j++) {
                        if (i != j) {
                            if (tree[i].coordinates.lat == tree_temp[j].coordinates.lat &&
                                tree[i].coordinates.lng == tree_temp[j].coordinates.lng) {
                                //console.log("match: "+i+" vs "+j);
                                if (!added.includes(j)) {
                                    for (var k = 0; k < tree_temp[j].vertex.length; k++) {
                                        if (!tree[i].vertex.includes(tree_temp[j].vertex[k])) {
                                            tree[i].vertex.push(tree_temp[j].vertex[k]);
                                        }
                                    }
                                    added.push(j);
                                }
                            }
                        }
                    }
                }



                //dijkstra
                g = new Graph();
                for (var i = 0; i < tree.length; i++) {
                    var vertex = {};
                    for (var j = 0; j < tree[i].vertex.length; j++) {
                        vertex["" + tree[i].vertex[j].node] = tree[i].vertex[j].distance;
                    }
                    g.addVertex(tree[i].node_id + "", vertex);

                }

            }
        </script>
        <!--vue modal script-->
        <script>
            var modal_vue = new Vue({
                el: '#modal-body',
                data: {
                    items: null,
                    winner: null,
                    emergency: null
                },
                methods: {
                    setList: function(path_detail, winner,emergency) {
                        console.log('winner: %o', winner);
                        this.items = path_detail.detail;
                        this.winner = winner;
                        this.emergency = emergency;
                        //$('#progressDirection').hide();
                    },
                    proceed: function(){
                        openRoute(this.winner,this.emergency);
                    }
                    /*viewlist: function(index){
                    this.items[index].view = !this.items[index].view ;
                    console.log("item: "+index+" view: "+this.items[index].view );
                }*/
                }
            })
            //example1.getList();
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBymq4YRMhZoMwnPUd2SfyzQQLEvUtafkM&libraries=places&callback=initTrafficData" async defer></script>
    </body>

</html>
